
body {
      font-family: 'Segoe UI', sans-serif;
      /*background: #343a40;*/
    } 

.her {
  background: #343a40;
  color: white;
  padding: 300px 200px; 
  text-align: center;
} 

#port {
  color: #FF02FF;
}
#d{
 color: white;
}

.hello {
  background: #343a40;
  color: white; /*
  color: rgb(230, 40, 179); */
  padding: 300px 200px; 
  text-align: left;
}


.tag-list {
  width: 30rem;
  font-family: "Montserrat";
  position: relative;
  overflow: hidden;

}

.inner {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 5s linear infinite;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: o.9rem;
  border-color: #334155;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 
    0 0.1rem 0.2rem #00000033;
   /* 0 0.1rem 0.5rem #0000004d;
    0 0.2rem 1.5rem #00000066; */
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  position: absolute;
  background: linear-gradient(90deg,#1e293b, transparent 30%, transparent 70%, #1e293b);
  inset: 0;
  pointer-events: none;
}

@keyFrames loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.buton {
  background: linear-Gradient(to right, #00ffff, #FF02FF);
  border: 2px solid black;
  width: 150px;
  height: 40px;
  color: black;
}

.buton2 {
  background: linear-Gradient(60deg, #00ffff,#FF0, #FF02FF);
  border: 2px solid black;
  width: 150px;
  height: 40px;
  color: black;
}

.buton3 {
  background: linear-Gradient(60deg, #f207b7,rgb(232, 195, 92), #77e842);
  border: 2px solid black;
  width: 150px;
  height: 40px;
  color: black;
}

#aboutme {
  padding: 70px;
  /*margin: 69px;*/
  text-align: center;
  border: 4px solid yellow;
  border-radius: 20px;
}
 
footer {
  background: #212529;
  color: white;
  text-align: center;
  padding: 20px 0;
}

#pre {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

 